<footer class="contact-section">
  <div class="contact-circle">
    <div class="contact-text">Get In Touch</div>
  </div>
  <div class="contact-links">
    <a
      href="mailto:ashokvishwakarma1099@gmail.com"
      target="_blank"
      class="contact-link"
      title="Email"
    >
      <i class="fas fa-envelope"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/askvish/"
      target="_blank"
      class="contact-link"
      title="LinkedIn"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a
      href="https://github.com/askvish/"
      target="_blank"
      class="contact-link"
      title="GitHub"
    >
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div class="contact-links">
    <a
      href="https://instagram.com/its_ashok.vish/"
      target="_blank"
      class="contact-link"
      title="Instagram"
      rel="noreferrer"
      ><i class="fab fa-instagram link"> </i
    ></a>
    <a
      href="https://www.facebook.com/ashokvishwakarma1099/"
      target="_blank"
      class="contact-link"
      title="Facebook"
      rel="noreferrer"
    >
      <i class="fab fa-facebook-square link"> </i>
    </a>
  </div>
  <div class="copyright">
    <p class="text-center flex justyfyCenter alignCenter">
      <span class="text-center">Copyright &copy; 2025</span>
      <span class="text-center">|</span>
      <a href="https://github.com/askvish/" target="_blank"
        >Ashok Vishwakarma</a
      >
    </p>
  </div>
</footer>
