<mat-toolbar class="header">
  <div class="logo-section">
    <img src="/assets/WAVING_HAND_400px.gif" alt="Logo" class="logo" />
    <span class="title">Hello World</span>
  </div>

  <span class="spacer"></span>

  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links" [class.open]="isMenuOpen">
    <button
      mat-button
      routerLink="/home"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      <span class="mat-button-wrapper">Home</span>
    </button>
    <button
      mat-button
      routerLink="/resume"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      <span class="mat-button-wrapper">Resume</span>
    </button>
    <button
      mat-button
      routerLink="/projects"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      <span class="mat-button-wrapper">Projects</span>
    </button>
    <button
      mat-button
      routerLink="/technopedia"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      <span class="mat-button-wrapper">Technopedia</span>
    </button>
    <button
      mat-button
      routerLink="/cheat-sheets"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      <span class="mat-button-wrapper">CheatSheets</span>
    </button>
    <button
      mat-button
      routerLink="/contact"
      routerLinkActive="active"
      (click)="toggleMenu()"
    >
      <span class="mat-button-wrapper">Contact Me</span>
    </button>
  </nav>
</mat-toolbar>
